# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java CI with Maven on Pull Request

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven
          cache-dependency-path: |
            pom.xml
            xapi-model/pom.xml
            xapi-client/pom.xml
            xapi-model-spring-boot-starter/pom.xml
      - name: Build with Maven
        run: ./mvnw -B install
      - name: Check documentation
        run: ./mvnw -B javadoc:javadoc -pl xapi-model,xapi-client,xapi-model-spring-boot-starter -am # This checks that the Javadoc is valid
      - name: Scan with Sonar
        run: |
          if [ $FORK = false ] && [ "$ACTOR" != "dependabot[bot]" ]
          then
            ./mvnw org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=BerryCloud_xapi-java -Dsonar.organization=berrycloud
          fi
        env:
          FORK: ${{ github.event.pull_request.head.repo.fork }}
          ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
